<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @paquete.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @paquete.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @paquete.precio %>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @paquete.tiempo %>
</p>

<%= link_to 'Edit', edit_paquete_path(@paquete) %> |
<%= link_to 'Back', paquetes_path %>
